.nav {
    grid-area: nav;
    background: greenyellow;
    padding: 5px 5px 100px 15px;
  }

a, a:link, a:visited  {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}
  
/* a:focus {
  outline-style: outset;
}   */

.item {
  padding-top: 15px;
}

.item a, .item_friends a{
    color: azure;
}  

.item .active, .item_friends .active {
  color:blue;
}

.item_friends {
  margin-top: 50px;
}